.wrapper-footer {
  color: #{var(--font-assist-color)};
  font-size: 0.725rem;
  bottom: 0.5rem;

  .footer-area {
    a {
      color: #{var(--link-color)};
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .info {
      a {
        margin-right: 0.25rem;
      }
    }
  }
}
