.ha__footer {
  width: 100%;
  padding: 5rem 0;
  background-color: #133467;

  &-nav {
    .nav-item {
      .nav-link {
        color: #fff;
      }
    }
  }

  &-social {
    .nav-item {
      .nav-link {
        font-size: 1.2rem;
        color: #fff;
      }
    }
  }

  &-copyright {
    color: #fff;
    font-size: 0.8rem;
    line-height: 3;
    a {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
